:root {
    --nav-bar-height: 60px;
    --bgColor: #f4f4f4;
    --primaryColor: #1976d2;
} 

* {
    font-family: 'Public Sans', sans-serif;
}

body {
    margin: 0;
    background-color: var(--bgColor);
}

app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
}

.dialog-responsive {
    width: 40%;
}

@media only screen and (max-width: 760px) {
    .dialog-responsive {
        width: 100%;
    }
}
